In [7]:
from dbfread import DBF
import pandas as pd

# Especifica la ruta al archivo .dbf
archivo_dbf = 'taxi_zones.dbf'

# Lee el archivo .dbf y convi√©rtelo a un DataFrame de pandas
df = pd.DataFrame(iter(DBF(archivo_dbf)))

# Imprime las primeras filas del DataFrame
print(df.head())

   OBJECTID  Shape_Leng  Shape_Area                     zone  LocationID
0         1    0.116357    0.000782           Newark Airport           1  \
1         2    0.433470    0.004866              Jamaica Bay           2
2         3    0.084341    0.000314  Allerton/Pelham Gardens           3
3         4    0.043567    0.000112            Alphabet City           4
4         5    0.092146    0.000498            Arden Heights           5

         borough
0            EWR
1         Queens
2          Bronx
3      Manhattan
4  Staten Island

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   Shape_Area  263 non-null    float64
 3   zone        263 non-null    object
 4   LocationID  263 non-null    int64
 5   borough     263 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 12.5+ KB

In [11]:
df1 = pd.read_csv("MY2012-2023_Battery_Electric_Vehicles.csv", encoding="latin-1")

df1.head()

,Model,Make,Model.1,Vehicle Class,Motor,Transmission,Fuel,Consumption,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Range,CO2 Emissions,CO2,Smog,Recharge
0,Year,NaN,NaN,NaN,(kW),NaN,Type,City (kWh/100 km),Hwy (kWh/100 km),Comb (kWh/100 km),City (Le/100 km),Hwy (Le/100 km),Comb (Le/100 km),(km),(g/km),Rating,Rating,Time (h)
1,2012,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,NaN,NaN,7
2,2012,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,NaN,NaN,7
3,2013,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,NaN,NaN,4
4,2013,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,NaN,NaN,7